scikit-dsp/skdsp/signal/__pycache__/*.pyc
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
scikit-dsp/docs/scikit-dsp-lyxformat-508.lyx~
scikit-dsp/pruebas.py
.history
scikit-dsp/skdsp/signal/.ipynb_checkpoints/signal-checkpoint.py
scikit-dsp/skdsp/signal/.ipynb_checkpoints/continuous-checkpoint.py
